
<div class="top-section">
  <div class="container">
  <h1>Data Load <%= @data_load.id %></h1>
  <button><%= link_to 'Back', data_loads_path %></button>
  </div>
  <p>
    <strong>ID:</strong>
    <%= @data_load.id %>
    <br />
    <strong>DOI:</strong>
    <%= @data_load.doi %>
    <br />
    <strong>Mount Point:</strong>
    <%= @data_load.mountPoint %>
    <br />
    <strong>Directory:</strong>
    <%= @data_load.directory %>
    <br />
    <strong>Status:</strong>
    <%= @data_load.status %>
    <br />
    <strong>Archived:</strong>
    <%= @data_load.archived? %>
    <br />
    <p>TODO: link to the top-level job in the GoodJob dashboard</p>
  </p>
  <% if @data_load.archived %>
    <p>
      <strong>Archived</strong>
    </p>
  <% else %>
    <% if @data_load.status == "completed" || @data_load.status == "failed" %>
      <%= form_with(model: @data_load, data:{ controller: "dataloads", dataloads_id_value: @data_load.id, dataloads_doi_value: @data_load.doi}, url: data_load_path(@data_load), method: :patch) do |form| %>
        <%= form.hidden_field :archived, value: true %>
        <%= form.submit "Archive", data: { action: "dataloads#confirm" }  %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="top-section">
<br>
<hr>
<p>
TODO: setup file list for dataload...and add pagination
</p>

<h2>File List</h2>
<div class="container">
  <table class="data-loads">
    <thead>
      <tr>
        <th>Basename</th>
        <th>Directory label</th>
        <th>Storage identifier</th>
        <th>MIME type</th>
        <th>Checksum</th>
        <th>Dataverse ID</th>
        <th>Restart Link</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>fakeID</td>
          <td>completed</td>
          <td>job.job_type</td>
          <td>job.enqueued_at</td>
          <td>job.started_at</td>
          <td>job.finished_at</td>
          <td>job.error_message</td>
        </tr>
    </tbody>
  </table>
  </div>