<nav class="navbar">
  <div class="container">
    <!-- Logo on the left -->
    <div class="logo">
      <%= link_to (image_tag 'logo.png', { :alt => 'DeoVolente @ UC Berkeley' }), root_path %>
    </div>

    <!-- Navigation links on the right -->
    <div class="nav-links">
      <ul>
        <li><%= link_to t('Home'), root_path %></li>
        <li><%= link_to t('View Uploads'), root_path %></li>
        <li><%= link_to t('Create Upload'), root_path %></li>
        <li><%= link_to t('Active Jobs'), root_path %></li>
      </ul>
    <div class="login-link">
      <% if signed_in? %>
        <%= link_to t('Logout'), logout_path %>
      <% else %>
        <%= form_tag('/auth/cas', method: 'post', data: {turbo: false}) do %>
          <button class='button-as-link' type='submit'>CalNet Login</button>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
